.s64-2l-oll {
    background-image: url(../img/2l-oll-s64-05.png);
    background-repeat: no-repeat;
    display: block;
    width: 64px;
    height: 64px;
}

.s64-eoll {
    background-position: 0 0;
}

.s64-eoll-a {
    background-position: -64px 0;
}

.s64-eoll-d {
    background-position: -128px 0;
}

.s64-eoll-o {
    background-position: 0 -64px;
}

.s64-ocll {
    background-position: -64px -64px;
}

.s64-ocll-as {
    background-position: -128px -64px;
}

.s64-ocll-h {
    background-position: 0 -128px;
}

.s64-ocll-l {
    background-position: -64px -128px;
}

.s64-ocll-pi {
    background-position: -128px -128px;
}

.s64-ocll-s {
    background-position: -192px 0;
}

.s64-ocll-t {
    background-position: -192px -64px;
}

.s64-ocll-u {
    background-position: -192px -128px;
}

.s96-2l-oll {
    background-image: url(../img/2l-oll-s96-05.png);
    background-repeat: no-repeat;
    display: block;
    width: 96px;
    height: 96px;
}

.s96-eoll {
    background-position: 0 0;
}

.s96-eoll-a {
    background-position: -96px 0;
}

.s96-eoll-d {
    background-position: -192px 0;
}

.s96-eoll-o {
    background-position: 0 -96px;
}

.s96-ocll {
    background-position: -96px -96px;
}

.s96-ocll-as {
    background-position: -192px -96px;
}

.s96-ocll-h {
    background-position: 0 -192px;
}

.s96-ocll-l {
    background-position: -96px -192px;
}

.s96-ocll-pi {
    background-position: -192px -192px;
}

.s96-ocll-s {
    background-position: -288px 0;
}

.s96-ocll-t {
    background-position: -288px -96px;
}

.s96-ocll-u {
    background-position: -288px -192px;
}

.s128-2l-oll {
    background-image: url(../img/2l-oll-s128-05.png);
    background-repeat: no-repeat;
    display: block;
    width: 128px;
    height: 128px;
}

.s128-eoll {
    background-position: 0 0;
}

.s128-eoll-a {
    background-position: -128px 0;
}

.s128-eoll-d {
    background-position: -256px 0;
}

.s128-eoll-o {
    background-position: 0 -128px;
}

.s128-ocll {
    background-position: -128px -128px;
}

.s128-ocll-as {
    background-position: -256px -128px;
}

.s128-ocll-h {
    background-position: 0 -256px;
}

.s128-ocll-l {
    background-position: -128px -256px;
}

.s128-ocll-pi {
    background-position: -256px -256px;
}

.s128-ocll-s {
    background-position: -384px 0;
}

.s128-ocll-t {
    background-position: -384px -128px;
}

.s128-ocll-u {
    background-position: -384px -256px;
}
