.s64-pll {
    background-image: url(../img/2spll-s64-04.png);
    background-repeat: no-repeat;
    display: block;
    width: 64px;
    height: 64px;
}

.s64-pll-1 {
    background-position: 0 0;
}

.s64-pll-2 {
    background-position: -64px 0;
}

.s64-pll-3 {
    background-position: -128px 0;
}

.s64-pll-4 {
    background-position: -192px 0;
}

.s64-pll-aa-1 {
    background-position: -256px 0;
}

.s64-pll-aa-2 {
    background-position: -320px 0;
}

.s64-pll-aa-3 {
    background-position: -384px 0;
}

.s64-pll-aa-4 {
    background-position: -448px 0;
}

.s64-pll-ab-1 {
    background-position: -512px 0;
}

.s64-pll-ab-2 {
    background-position: 0 -64px;
}

.s64-pll-ab-3 {
    background-position: -64px -64px;
}

.s64-pll-ab-4 {
    background-position: -128px -64px;
}

.s64-pll-e-1 {
    background-position: -192px -64px;
}

.s64-pll-e-2 {
    background-position: -256px -64px;
}

.s64-pll-e-3 {
    background-position: -320px -64px;
}

.s64-pll-e-4 {
    background-position: -384px -64px;
}

.s64-pll-f-1 {
    background-position: -448px -64px;
}

.s64-pll-f-2 {
    background-position: -512px -64px;
}

.s64-pll-f-3 {
    background-position: 0 -128px;
}

.s64-pll-f-4 {
    background-position: -64px -128px;
}

.s64-pll-ga-1 {
    background-position: -128px -128px;
}

.s64-pll-ga-2 {
    background-position: -192px -128px;
}

.s64-pll-ga-3 {
    background-position: -256px -128px;
}

.s64-pll-ga-4 {
    background-position: -320px -128px;
}

.s64-pll-gb-1 {
    background-position: -384px -128px;
}

.s64-pll-gb-2 {
    background-position: -448px -128px;
}

.s64-pll-gb-3 {
    background-position: -512px -128px;
}

.s64-pll-gb-4 {
    background-position: 0 -192px;
}

.s64-pll-gc-1 {
    background-position: -64px -192px;
}

.s64-pll-gc-2 {
    background-position: -128px -192px;
}

.s64-pll-gc-3 {
    background-position: -192px -192px;
}

.s64-pll-gc-4 {
    background-position: -256px -192px;
}

.s64-pll-gd-1 {
    background-position: -320px -192px;
}

.s64-pll-gd-2 {
    background-position: -384px -192px;
}

.s64-pll-gd-3 {
    background-position: -448px -192px;
}

.s64-pll-gd-4 {
    background-position: -512px -192px;
}

.s64-pll-h-1 {
    background-position: 0 -256px;
}

.s64-pll-h-2 {
    background-position: -64px -256px;
}

.s64-pll-h-3 {
    background-position: -128px -256px;
}

.s64-pll-h-4 {
    background-position: -192px -256px;
}

.s64-pll-ja-1 {
    background-position: -256px -256px;
}

.s64-pll-ja-2 {
    background-position: -320px -256px;
}

.s64-pll-ja-3 {
    background-position: -384px -256px;
}

.s64-pll-ja-4 {
    background-position: -448px -256px;
}

.s64-pll-jb-1 {
    background-position: -512px -256px;
}

.s64-pll-jb-2 {
    background-position: 0 -320px;
}

.s64-pll-jb-3 {
    background-position: -64px -320px;
}

.s64-pll-jb-4 {
    background-position: -128px -320px;
}

.s64-pll-na-1 {
    background-position: -192px -320px;
}

.s64-pll-na-2 {
    background-position: -256px -320px;
}

.s64-pll-na-3 {
    background-position: -320px -320px;
}

.s64-pll-na-4 {
    background-position: -384px -320px;
}

.s64-pll-nb-1 {
    background-position: -448px -320px;
}

.s64-pll-nb-2 {
    background-position: -512px -320px;
}

.s64-pll-nb-3 {
    background-position: 0 -384px;
}

.s64-pll-nb-4 {
    background-position: -64px -384px;
}

.s64-pll-ra-1 {
    background-position: -128px -384px;
}

.s64-pll-ra-2 {
    background-position: -192px -384px;
}

.s64-pll-ra-3 {
    background-position: -256px -384px;
}

.s64-pll-ra-4 {
    background-position: -320px -384px;
}

.s64-pll-rb-1 {
    background-position: -384px -384px;
}

.s64-pll-rb-2 {
    background-position: -448px -384px;
}

.s64-pll-rb-3 {
    background-position: -512px -384px;
}

.s64-pll-rb-4 {
    background-position: 0 -448px;
}

.s64-pll-t-1 {
    background-position: -64px -448px;
}

.s64-pll-t-2 {
    background-position: -128px -448px;
}

.s64-pll-t-3 {
    background-position: -192px -448px;
}

.s64-pll-t-4 {
    background-position: -256px -448px;
}

.s64-pll-ua-1 {
    background-position: -320px -448px;
}

.s64-pll-ua-2 {
    background-position: -384px -448px;
}

.s64-pll-ua-3 {
    background-position: -448px -448px;
}

.s64-pll-ua-4 {
    background-position: -512px -448px;
}

.s64-pll-ub-1 {
    background-position: 0 -512px;
}

.s64-pll-ub-2 {
    background-position: -64px -512px;
}

.s64-pll-ub-3 {
    background-position: -128px -512px;
}

.s64-pll-ub-4 {
    background-position: -192px -512px;
}

.s64-pll-v-1 {
    background-position: -256px -512px;
}

.s64-pll-v-2 {
    background-position: -320px -512px;
}

.s64-pll-v-3 {
    background-position: -384px -512px;
}

.s64-pll-v-4 {
    background-position: -448px -512px;
}

.s64-pll-y-1 {
    background-position: -512px -512px;
}

.s64-pll-y-2 {
    background-position: -576px 0;
}

.s64-pll-y-3 {
    background-position: -576px -64px;
}

.s64-pll-y-4 {
    background-position: -576px -128px;
}

.s64-pll-z-1 {
    background-position: -576px -192px;
}

.s64-pll-z-2 {
    background-position: -576px -256px;
}

.s64-pll-z-3 {
    background-position: -576px -320px;
}

.s64-pll-z-4 {
    background-position: -576px -384px;
}

.s96-pll {
    background-image: url(../img/2spll-s96-04.png);
    background-repeat: no-repeat;
    display: block;
    width: 96px;
    height: 96px;
}

.s96-pll-1 {
    background-position: 0 0;
}

.s96-pll-2 {
    background-position: -96px 0;
}

.s96-pll-3 {
    background-position: -192px 0;
}

.s96-pll-4 {
    background-position: -288px 0;
}

.s96-pll-aa-1 {
    background-position: -384px 0;
}

.s96-pll-aa-2 {
    background-position: -480px 0;
}

.s96-pll-aa-3 {
    background-position: -576px 0;
}

.s96-pll-aa-4 {
    background-position: -672px 0;
}

.s96-pll-ab-1 {
    background-position: -768px 0;
}

.s96-pll-ab-2 {
    background-position: 0 -96px;
}

.s96-pll-ab-3 {
    background-position: -96px -96px;
}

.s96-pll-ab-4 {
    background-position: -192px -96px;
}

.s96-pll-e-1 {
    background-position: -288px -96px;
}

.s96-pll-e-2 {
    background-position: -384px -96px;
}

.s96-pll-e-3 {
    background-position: -480px -96px;
}

.s96-pll-e-4 {
    background-position: -576px -96px;
}

.s96-pll-f-1 {
    background-position: -672px -96px;
}

.s96-pll-f-2 {
    background-position: -768px -96px;
}

.s96-pll-f-3 {
    background-position: 0 -192px;
}

.s96-pll-f-4 {
    background-position: -96px -192px;
}

.s96-pll-ga-1 {
    background-position: -192px -192px;
}

.s96-pll-ga-2 {
    background-position: -288px -192px;
}

.s96-pll-ga-3 {
    background-position: -384px -192px;
}

.s96-pll-ga-4 {
    background-position: -480px -192px;
}

.s96-pll-gb-1 {
    background-position: -576px -192px;
}

.s96-pll-gb-2 {
    background-position: -672px -192px;
}

.s96-pll-gb-3 {
    background-position: -768px -192px;
}

.s96-pll-gb-4 {
    background-position: 0 -288px;
}

.s96-pll-gc-1 {
    background-position: -96px -288px;
}

.s96-pll-gc-2 {
    background-position: -192px -288px;
}

.s96-pll-gc-3 {
    background-position: -288px -288px;
}

.s96-pll-gc-4 {
    background-position: -384px -288px;
}

.s96-pll-gd-1 {
    background-position: -480px -288px;
}

.s96-pll-gd-2 {
    background-position: -576px -288px;
}

.s96-pll-gd-3 {
    background-position: -672px -288px;
}

.s96-pll-gd-4 {
    background-position: -768px -288px;
}

.s96-pll-h-1 {
    background-position: 0 -384px;
}

.s96-pll-h-2 {
    background-position: -96px -384px;
}

.s96-pll-h-3 {
    background-position: -192px -384px;
}

.s96-pll-h-4 {
    background-position: -288px -384px;
}

.s96-pll-ja-1 {
    background-position: -384px -384px;
}

.s96-pll-ja-2 {
    background-position: -480px -384px;
}

.s96-pll-ja-3 {
    background-position: -576px -384px;
}

.s96-pll-ja-4 {
    background-position: -672px -384px;
}

.s96-pll-jb-1 {
    background-position: -768px -384px;
}

.s96-pll-jb-2 {
    background-position: 0 -480px;
}

.s96-pll-jb-3 {
    background-position: -96px -480px;
}

.s96-pll-jb-4 {
    background-position: -192px -480px;
}

.s96-pll-na-1 {
    background-position: -288px -480px;
}

.s96-pll-na-2 {
    background-position: -384px -480px;
}

.s96-pll-na-3 {
    background-position: -480px -480px;
}

.s96-pll-na-4 {
    background-position: -576px -480px;
}

.s96-pll-nb-1 {
    background-position: -672px -480px;
}

.s96-pll-nb-2 {
    background-position: -768px -480px;
}

.s96-pll-nb-3 {
    background-position: 0 -576px;
}

.s96-pll-nb-4 {
    background-position: -96px -576px;
}

.s96-pll-ra-1 {
    background-position: -192px -576px;
}

.s96-pll-ra-2 {
    background-position: -288px -576px;
}

.s96-pll-ra-3 {
    background-position: -384px -576px;
}

.s96-pll-ra-4 {
    background-position: -480px -576px;
}

.s96-pll-rb-1 {
    background-position: -576px -576px;
}

.s96-pll-rb-2 {
    background-position: -672px -576px;
}

.s96-pll-rb-3 {
    background-position: -768px -576px;
}

.s96-pll-rb-4 {
    background-position: 0 -672px;
}

.s96-pll-t-1 {
    background-position: -96px -672px;
}

.s96-pll-t-2 {
    background-position: -192px -672px;
}

.s96-pll-t-3 {
    background-position: -288px -672px;
}

.s96-pll-t-4 {
    background-position: -384px -672px;
}

.s96-pll-ua-1 {
    background-position: -480px -672px;
}

.s96-pll-ua-2 {
    background-position: -576px -672px;
}

.s96-pll-ua-3 {
    background-position: -672px -672px;
}

.s96-pll-ua-4 {
    background-position: -768px -672px;
}

.s96-pll-ub-1 {
    background-position: 0 -768px;
}

.s96-pll-ub-2 {
    background-position: -96px -768px;
}

.s96-pll-ub-3 {
    background-position: -192px -768px;
}

.s96-pll-ub-4 {
    background-position: -288px -768px;
}

.s96-pll-v-1 {
    background-position: -384px -768px;
}

.s96-pll-v-2 {
    background-position: -480px -768px;
}

.s96-pll-v-3 {
    background-position: -576px -768px;
}

.s96-pll-v-4 {
    background-position: -672px -768px;
}

.s96-pll-y-1 {
    background-position: -768px -768px;
}

.s96-pll-y-2 {
    background-position: -864px 0;
}

.s96-pll-y-3 {
    background-position: -864px -96px;
}

.s96-pll-y-4 {
    background-position: -864px -192px;
}

.s96-pll-z-1 {
    background-position: -864px -288px;
}

.s96-pll-z-2 {
    background-position: -864px -384px;
}

.s96-pll-z-3 {
    background-position: -864px -480px;
}

.s96-pll-z-4 {
    background-position: -864px -576px;
}

.s128-pll {
    background-image: url(../img/2spll-s128-04.png);
    background-repeat: no-repeat;
    display: block;
    width: 128px;
    height: 128px;
}

.s128-pll-1 {
    background-position: 0 0;
}

.s128-pll-2 {
    background-position: -128px 0;
}

.s128-pll-3 {
    background-position: -256px 0;
}

.s128-pll-4 {
    background-position: -384px 0;
}

.s128-pll-aa-1 {
    background-position: -512px 0;
}

.s128-pll-aa-2 {
    background-position: -640px 0;
}

.s128-pll-aa-3 {
    background-position: -768px 0;
}

.s128-pll-aa-4 {
    background-position: -896px 0;
}

.s128-pll-ab-1 {
    background-position: -1024px 0;
}

.s128-pll-ab-2 {
    background-position: 0 -128px;
}

.s128-pll-ab-3 {
    background-position: -128px -128px;
}

.s128-pll-ab-4 {
    background-position: -256px -128px;
}

.s128-pll-e-1 {
    background-position: -384px -128px;
}

.s128-pll-e-2 {
    background-position: -512px -128px;
}

.s128-pll-e-3 {
    background-position: -640px -128px;
}

.s128-pll-e-4 {
    background-position: -768px -128px;
}

.s128-pll-f-1 {
    background-position: -896px -128px;
}

.s128-pll-f-2 {
    background-position: -1024px -128px;
}

.s128-pll-f-3 {
    background-position: 0 -256px;
}

.s128-pll-f-4 {
    background-position: -128px -256px;
}

.s128-pll-ga-1 {
    background-position: -256px -256px;
}

.s128-pll-ga-2 {
    background-position: -384px -256px;
}

.s128-pll-ga-3 {
    background-position: -512px -256px;
}

.s128-pll-ga-4 {
    background-position: -640px -256px;
}

.s128-pll-gb-1 {
    background-position: -768px -256px;
}

.s128-pll-gb-2 {
    background-position: -896px -256px;
}

.s128-pll-gb-3 {
    background-position: -1024px -256px;
}

.s128-pll-gb-4 {
    background-position: 0 -384px;
}

.s128-pll-gc-1 {
    background-position: -128px -384px;
}

.s128-pll-gc-2 {
    background-position: -256px -384px;
}

.s128-pll-gc-3 {
    background-position: -384px -384px;
}

.s128-pll-gc-4 {
    background-position: -512px -384px;
}

.s128-pll-gd-1 {
    background-position: -640px -384px;
}

.s128-pll-gd-2 {
    background-position: -768px -384px;
}

.s128-pll-gd-3 {
    background-position: -896px -384px;
}

.s128-pll-gd-4 {
    background-position: -1024px -384px;
}

.s128-pll-h-1 {
    background-position: 0 -512px;
}

.s128-pll-h-2 {
    background-position: -128px -512px;
}

.s128-pll-h-3 {
    background-position: -256px -512px;
}

.s128-pll-h-4 {
    background-position: -384px -512px;
}

.s128-pll-ja-1 {
    background-position: -512px -512px;
}

.s128-pll-ja-2 {
    background-position: -640px -512px;
}

.s128-pll-ja-3 {
    background-position: -768px -512px;
}

.s128-pll-ja-4 {
    background-position: -896px -512px;
}

.s128-pll-jb-1 {
    background-position: -1024px -512px;
}

.s128-pll-jb-2 {
    background-position: 0 -640px;
}

.s128-pll-jb-3 {
    background-position: -128px -640px;
}

.s128-pll-jb-4 {
    background-position: -256px -640px;
}

.s128-pll-na-1 {
    background-position: -384px -640px;
}

.s128-pll-na-2 {
    background-position: -512px -640px;
}

.s128-pll-na-3 {
    background-position: -640px -640px;
}

.s128-pll-na-4 {
    background-position: -768px -640px;
}

.s128-pll-nb-1 {
    background-position: -896px -640px;
}

.s128-pll-nb-2 {
    background-position: -1024px -640px;
}

.s128-pll-nb-3 {
    background-position: 0 -768px;
}

.s128-pll-nb-4 {
    background-position: -128px -768px;
}

.s128-pll-ra-1 {
    background-position: -256px -768px;
}

.s128-pll-ra-2 {
    background-position: -384px -768px;
}

.s128-pll-ra-3 {
    background-position: -512px -768px;
}

.s128-pll-ra-4 {
    background-position: -640px -768px;
}

.s128-pll-rb-1 {
    background-position: -768px -768px;
}

.s128-pll-rb-2 {
    background-position: -896px -768px;
}

.s128-pll-rb-3 {
    background-position: -1024px -768px;
}

.s128-pll-rb-4 {
    background-position: 0 -896px;
}

.s128-pll-t-1 {
    background-position: -128px -896px;
}

.s128-pll-t-2 {
    background-position: -256px -896px;
}

.s128-pll-t-3 {
    background-position: -384px -896px;
}

.s128-pll-t-4 {
    background-position: -512px -896px;
}

.s128-pll-ua-1 {
    background-position: -640px -896px;
}

.s128-pll-ua-2 {
    background-position: -768px -896px;
}

.s128-pll-ua-3 {
    background-position: -896px -896px;
}

.s128-pll-ua-4 {
    background-position: -1024px -896px;
}

.s128-pll-ub-1 {
    background-position: 0 -1024px;
}

.s128-pll-ub-2 {
    background-position: -128px -1024px;
}

.s128-pll-ub-3 {
    background-position: -256px -1024px;
}

.s128-pll-ub-4 {
    background-position: -384px -1024px;
}

.s128-pll-v-1 {
    background-position: -512px -1024px;
}

.s128-pll-v-2 {
    background-position: -640px -1024px;
}

.s128-pll-v-3 {
    background-position: -768px -1024px;
}

.s128-pll-v-4 {
    background-position: -896px -1024px;
}

.s128-pll-y-1 {
    background-position: -1024px -1024px;
}

.s128-pll-y-2 {
    background-position: -1152px 0;
}

.s128-pll-y-3 {
    background-position: -1152px -128px;
}

.s128-pll-y-4 {
    background-position: -1152px -256px;
}

.s128-pll-z-1 {
    background-position: -1152px -384px;
}

.s128-pll-z-2 {
    background-position: -1152px -512px;
}

.s128-pll-z-3 {
    background-position: -1152px -640px;
}

.s128-pll-z-4 {
    background-position: -1152px -768px;
}
