/* Default fonts */

h1
{
  font-family: "Arial", sans-serif;
}

h2
{
  font-family: "Arial", sans-serif;
}

h3
{
  font-family: "Arial", sans-serif;
}

th
{
  font-family: "Arial", sans-serif;
  font-size: 0.9em;
}

td
{
  font-family: "Arial", sans-serif;
  font-size: 0.9em;
}

p
{
  font-family: "Arial", sans-serif;
  font-size: 0.9em;
}

abbr
{
	border-bottom: 1px dotted;
}

/* Grid view */

th.name
{
  width: 120px;
  text-align : left;
}

/* List view */

th.alg
{
  width: 320px;
  text-align : left;
}

th.prob
{
  width: 60px;
  text-align : center;
}

td.prob
{
  width: 60px;
  text-align : center;
}

/* Case view */

td.alg
{
  width: 370px;
  text-align : left;
}

td.var
{
  width: 370px;
  text-align : left;
  text-indent : 20px;
}

td.uses
{
  width: 60px;
  text-align : center;
}

/* Sprites */

.clicky
{
  cursor: pointer;
}
