/* Default fonts */

h1
{
  font-family: "Arial", sans-serif;
}

h2
{
  font-family: "Arial", sans-serif;
}

h3
{
  font-family: "Arial", sans-serif;
}

th
{
  font-family: "Arial", sans-serif;
  font-size: 0.9em;
}

td
{
  font-family: "Arial", sans-serif;
  font-size: 0.9em;
}

p
{
  font-family: "Arial", sans-serif;
  font-size: 0.9em;
}

p.alert
{
  color: red;
  font-weight: bold;
}

p.inactive
{
  color: grey;
}

/* Abbreviations */
abbr.dotted
{
  border-bottom: 1px dotted;
  cursor: help;
}

#tooltip
{
  position: absolute;
  background-color: white;
  border: 2px solid #000;
  padding: 8px 8px 8px 8px;
  font-family: "Arial", sans-serif;
  font-size: 0.8em;
  visibility: hidden;
}

#tooltip[data-timestamp]
{
	visibility: visible;
}

/* Grid view */

th.name
{
  width: 120px;
  text-align : left;
}

/* List view */

th.id
{
  width: 40px;
  text-align : left;
}

th.alg
{
  width: 380px;
  text-align : left;
}

th.prob
{
  width: 40px;
  text-align : center;
}

td.prob
{
  width: 40px;
  text-align : center;
}

/* Case view */

td.alg
{
  width: 380px;
  text-align : left;
}

td.multi
{
  width: 420px;
  text-align : left;
}

td.var
{
  width: 380px;
  text-align : left;
  text-indent : 20px;
}

td.inactive
{
  color: grey;
}

/* Sprites */

.clicky:hover
{
  cursor: pointer;
  box-shadow: 0px 0px 30px 10px lightgrey;
  transition: 0.25s;
}
