.s64-l4e {
    background-image: url(../img/l4e-s64-01.png);
    background-repeat: no-repeat;
    display: block;
    width: 64px;
    height: 64px;
}

.s64-l4e-df1 {
    background-position: 0 0;
}

.s64-l4e-df2 {
    background-position: -64px 0;
}

.s64-l4e-df3 {
    background-position: -128px 0;
}

.s64-l4e-df4 {
    background-position: -192px 0;
}

.s64-l4e-df5 {
    background-position: -256px 0;
}

.s64-l4e-df6 {
    background-position: -320px 0;
}

.s64-l4e-ds1 {
    background-position: 0 -64px;
}

.s64-l4e-ds2 {
    background-position: -64px -64px;
}

.s64-l4e-ds3 {
    background-position: -128px -64px;
}

.s64-l4e-ds4 {
    background-position: -192px -64px;
}

.s64-l4e-ds5 {
    background-position: -256px -64px;
}

.s64-l4e-ds6 {
    background-position: -320px -64px;
}

.s64-l4e-np1 {
    background-position: 0 -128px;
}

.s64-l4e-np2 {
    background-position: -64px -128px;
}

.s64-l4e-np3 {
    background-position: -128px -128px;
}

.s64-l4e-np4 {
    background-position: -192px -128px;
}

.s64-l4e-np5 {
    background-position: -256px -128px;
}

.s64-l4e-np6 {
    background-position: -320px -128px;
}

.s64-l4e-np7 {
    background-position: 0 -192px;
}

.s64-l4e-np8 {
    background-position: -64px -192px;
}

.s64-l4e-uf1 {
    background-position: -128px -192px;
}

.s64-l4e-uf2 {
    background-position: -192px -192px;
}

.s64-l4e-uf3 {
    background-position: -256px -192px;
}

.s64-l4e-uf4 {
    background-position: -320px -192px;
}

.s64-l4e-uf5 {
    background-position: 0 -256px;
}

.s64-l4e-uf6 {
    background-position: -64px -256px;
}

.s64-l4e-uf7 {
    background-position: -128px -256px;
}

.s64-l4e-uf8 {
    background-position: -192px -256px;
}

.s64-l4e-us1 {
    background-position: -256px -256px;
}

.s64-l4e-us2 {
    background-position: -320px -256px;
}

.s64-l4e-us3 {
    background-position: 0 -320px;
}

.s64-l4e-us4 {
    background-position: -64px -320px;
}

.s64-l4e-us5 {
    background-position: -128px -320px;
}

.s64-l4e-us6 {
    background-position: -192px -320px;
}

.s64-l4e-us7 {
    background-position: -256px -320px;
}

.s64-l4e-us8 {
    background-position: -320px -320px;
}

.s96-l4e {
    background-image: url(../img/l4e-s96-01.png);
    background-repeat: no-repeat;
    display: block;
    width: 96px;
    height: 96px;
}

.s96-l4e-df1 {
    background-position: 0 0;
}

.s96-l4e-df2 {
    background-position: -96px 0;
}

.s96-l4e-df3 {
    background-position: -192px 0;
}

.s96-l4e-df4 {
    background-position: -288px 0;
}

.s96-l4e-df5 {
    background-position: -384px 0;
}

.s96-l4e-df6 {
    background-position: -480px 0;
}

.s96-l4e-ds1 {
    background-position: 0 -96px;
}

.s96-l4e-ds2 {
    background-position: -96px -96px;
}

.s96-l4e-ds3 {
    background-position: -192px -96px;
}

.s96-l4e-ds4 {
    background-position: -288px -96px;
}

.s96-l4e-ds5 {
    background-position: -384px -96px;
}

.s96-l4e-ds6 {
    background-position: -480px -96px;
}

.s96-l4e-np1 {
    background-position: 0 -192px;
}

.s96-l4e-np2 {
    background-position: -96px -192px;
}

.s96-l4e-np3 {
    background-position: -192px -192px;
}

.s96-l4e-np4 {
    background-position: -288px -192px;
}

.s96-l4e-np5 {
    background-position: -384px -192px;
}

.s96-l4e-np6 {
    background-position: -480px -192px;
}

.s96-l4e-np7 {
    background-position: 0 -288px;
}

.s96-l4e-np8 {
    background-position: -96px -288px;
}

.s96-l4e-uf1 {
    background-position: -192px -288px;
}

.s96-l4e-uf2 {
    background-position: -288px -288px;
}

.s96-l4e-uf3 {
    background-position: -384px -288px;
}

.s96-l4e-uf4 {
    background-position: -480px -288px;
}

.s96-l4e-uf5 {
    background-position: 0 -384px;
}

.s96-l4e-uf6 {
    background-position: -96px -384px;
}

.s96-l4e-uf7 {
    background-position: -192px -384px;
}

.s96-l4e-uf8 {
    background-position: -288px -384px;
}

.s96-l4e-us1 {
    background-position: -384px -384px;
}

.s96-l4e-us2 {
    background-position: -480px -384px;
}

.s96-l4e-us3 {
    background-position: 0 -480px;
}

.s96-l4e-us4 {
    background-position: -96px -480px;
}

.s96-l4e-us5 {
    background-position: -192px -480px;
}

.s96-l4e-us6 {
    background-position: -288px -480px;
}

.s96-l4e-us7 {
    background-position: -384px -480px;
}

.s96-l4e-us8 {
    background-position: -480px -480px;
}

.s128-l4e {
    background-image: url(../img/l4e-s128-01.png);
    background-repeat: no-repeat;
    display: block;
    width: 128px;
    height: 128px;
}

.s128-l4e-df1 {
    background-position: 0 0;
}

.s128-l4e-df2 {
    background-position: -128px 0;
}

.s128-l4e-df3 {
    background-position: -256px 0;
}

.s128-l4e-df4 {
    background-position: -384px 0;
}

.s128-l4e-df5 {
    background-position: -512px 0;
}

.s128-l4e-df6 {
    background-position: -640px 0;
}

.s128-l4e-ds1 {
    background-position: 0 -128px;
}

.s128-l4e-ds2 {
    background-position: -128px -128px;
}

.s128-l4e-ds3 {
    background-position: -256px -128px;
}

.s128-l4e-ds4 {
    background-position: -384px -128px;
}

.s128-l4e-ds5 {
    background-position: -512px -128px;
}

.s128-l4e-ds6 {
    background-position: -640px -128px;
}

.s128-l4e-np1 {
    background-position: 0 -256px;
}

.s128-l4e-np2 {
    background-position: -128px -256px;
}

.s128-l4e-np3 {
    background-position: -256px -256px;
}

.s128-l4e-np4 {
    background-position: -384px -256px;
}

.s128-l4e-np5 {
    background-position: -512px -256px;
}

.s128-l4e-np6 {
    background-position: -640px -256px;
}

.s128-l4e-np7 {
    background-position: 0 -384px;
}

.s128-l4e-np8 {
    background-position: -128px -384px;
}

.s128-l4e-uf1 {
    background-position: -256px -384px;
}

.s128-l4e-uf2 {
    background-position: -384px -384px;
}

.s128-l4e-uf3 {
    background-position: -512px -384px;
}

.s128-l4e-uf4 {
    background-position: -640px -384px;
}

.s128-l4e-uf5 {
    background-position: 0 -512px;
}

.s128-l4e-uf6 {
    background-position: -128px -512px;
}

.s128-l4e-uf7 {
    background-position: -256px -512px;
}

.s128-l4e-uf8 {
    background-position: -384px -512px;
}

.s128-l4e-us1 {
    background-position: -512px -512px;
}

.s128-l4e-us2 {
    background-position: -640px -512px;
}

.s128-l4e-us3 {
    background-position: 0 -640px;
}

.s128-l4e-us4 {
    background-position: -128px -640px;
}

.s128-l4e-us5 {
    background-position: -256px -640px;
}

.s128-l4e-us6 {
    background-position: -384px -640px;
}

.s128-l4e-us7 {
    background-position: -512px -640px;
}

.s128-l4e-us8 {
    background-position: -640px -640px;
}
