.s64-oll {
    background-image: url(../img/s64-oll-05.png);
    background-repeat: no-repeat;
    display: block;
    width: 64px;
    height: 64px;
}

.s64-oll-01 {
    background-position: -64px 0;
}

.s64-oll-02 {
    background-position: -128px 0;
}

.s64-oll-03 {
    background-position: -192px 0;
}

.s64-oll-04 {
    background-position: -256px 0;
}

.s64-oll-05 {
    background-position: -320px 0;
}

.s64-oll-06 {
    background-position: -384px 0;
}

.s64-oll-07 {
    background-position: 0 -64px;
}

.s64-oll-08 {
    background-position: -64px -64px;
}

.s64-oll-09 {
    background-position: -128px -64px;
}

.s64-oll-10 {
    background-position: -192px -64px;
}

.s64-oll-11 {
    background-position: -256px -64px;
}

.s64-oll-12 {
    background-position: -320px -64px;
}

.s64-oll-13 {
    background-position: -384px -64px;
}

.s64-oll-14 {
    background-position: 0 -128px;
}

.s64-oll-15 {
    background-position: -64px -128px;
}

.s64-oll-16 {
    background-position: -128px -128px;
}

.s64-oll-17 {
    background-position: -192px -128px;
}

.s64-oll-18 {
    background-position: -256px -128px;
}

.s64-oll-19 {
    background-position: -320px -128px;
}

.s64-oll-20 {
    background-position: -384px -128px;
}

.s64-oll-21 {
    background-position: 0 -192px;
}

.s64-oll-22 {
    background-position: -64px -192px;
}

.s64-oll-23 {
    background-position: -128px -192px;
}

.s64-oll-24 {
    background-position: -192px -192px;
}

.s64-oll-25 {
    background-position: -256px -192px;
}

.s64-oll-26 {
    background-position: -320px -192px;
}

.s64-oll-27 {
    background-position: -384px -192px;
}

.s64-oll-28 {
    background-position: 0 -256px;
}

.s64-oll-29 {
    background-position: -64px -256px;
}

.s64-oll-30 {
    background-position: -128px -256px;
}

.s64-oll-31 {
    background-position: -192px -256px;
}

.s64-oll-32 {
    background-position: -256px -256px;
}

.s64-oll-33 {
    background-position: -320px -256px;
}

.s64-oll-34 {
    background-position: -384px -256px;
}

.s64-oll-35 {
    background-position: 0 -320px;
}

.s64-oll-36 {
    background-position: -64px -320px;
}

.s64-oll-37 {
    background-position: -128px -320px;
}

.s64-oll-38 {
    background-position: -192px -320px;
}

.s64-oll-39 {
    background-position: -256px -320px;
}

.s64-oll-40 {
    background-position: -320px -320px;
}

.s64-oll-41 {
    background-position: -384px -320px;
}

.s64-oll-42 {
    background-position: 0 -384px;
}

.s64-oll-43 {
    background-position: -64px -384px;
}

.s64-oll-44 {
    background-position: -128px -384px;
}

.s64-oll-45 {
    background-position: -192px -384px;
}

.s64-oll-46 {
    background-position: -256px -384px;
}

.s64-oll-47 {
    background-position: -320px -384px;
}

.s64-oll-48 {
    background-position: -384px -384px;
}

.s64-oll-49 {
    background-position: -448px 0;
}

.s64-oll-50 {
    background-position: -448px -64px;
}

.s64-oll-51 {
    background-position: -448px -128px;
}

.s64-oll-52 {
    background-position: -448px -192px;
}

.s64-oll-53 {
    background-position: -448px -256px;
}

.s64-oll-54 {
    background-position: -448px -320px;
}

.s64-oll-55 {
    background-position: -448px -384px;
}

.s64-oll-56 {
    background-position: 0 -448px;
}

.s64-oll-57 {
    background-position: -64px -448px;
}

.s96-oll {
    background-image: url(../img/s96-oll-05.png);
    background-repeat: no-repeat;
    display: block;
	width: 96px;
    height: 96px;
}

.s96-oll-01 {
    background-position: -96px 0;
}

.s96-oll-02 {
    background-position: -192px 0;
}

.s96-oll-03 {
    background-position: -288px 0;
}

.s96-oll-04 {
    background-position: -384px 0;
}

.s96-oll-05 {
    background-position: -480px 0;
}

.s96-oll-06 {
    background-position: -576px 0;
}

.s96-oll-07 {
    background-position: 0 -96px;
}

.s96-oll-08 {
    background-position: -96px -96px;
}

.s96-oll-09 {
    background-position: -192px -96px;
}

.s96-oll-10 {
    background-position: -288px -96px;
}

.s96-oll-11 {
    background-position: -384px -96px;
}

.s96-oll-12 {
    background-position: -480px -96px;
}

.s96-oll-13 {
    background-position: -576px -96px;
}

.s96-oll-14 {
    background-position: 0 -192px;
}

.s96-oll-15 {
    background-position: -96px -192px;
}

.s96-oll-16 {
    background-position: -192px -192px;
}

.s96-oll-17 {
    background-position: -288px -192px;
}

.s96-oll-18 {
    background-position: -384px -192px;
}

.s96-oll-19 {
    background-position: -480px -192px;
}

.s96-oll-20 {
    background-position: -576px -192px;
}

.s96-oll-21 {
    background-position: 0 -288px;
}

.s96-oll-22 {
    background-position: -96px -288px;
}

.s96-oll-23 {
    background-position: -192px -288px;
}

.s96-oll-24 {
    background-position: -288px -288px;
}

.s96-oll-25 {
    background-position: -384px -288px;
}

.s96-oll-26 {
    background-position: -480px -288px;
}

.s96-oll-27 {
    background-position: -576px -288px;
}

.s96-oll-28 {
    background-position: 0 -384px;
}

.s96-oll-29 {
    background-position: -96px -384px;
}

.s96-oll-30 {
    background-position: -192px -384px;
}

.s96-oll-31 {
    background-position: -288px -384px;
}

.s96-oll-32 {
    background-position: -384px -384px;
}

.s96-oll-33 {
    background-position: -480px -384px;
}

.s96-oll-34 {
    background-position: -576px -384px;
}

.s96-oll-35 {
    background-position: 0 -480px;
}

.s96-oll-36 {
    background-position: -96px -480px;
}

.s96-oll-37 {
    background-position: -192px -480px;
}

.s96-oll-38 {
    background-position: -288px -480px;
}

.s96-oll-39 {
    background-position: -384px -480px;
}

.s96-oll-40 {
    background-position: -480px -480px;
}

.s96-oll-41 {
    background-position: -576px -480px;
}

.s96-oll-42 {
    background-position: 0 -576px;
}

.s96-oll-43 {
    background-position: -96px -576px;
}

.s96-oll-44 {
    background-position: -192px -576px;
}

.s96-oll-45 {
    background-position: -288px -576px;
}

.s96-oll-46 {
    background-position: -384px -576px;
}

.s96-oll-47 {
    background-position: -480px -576px;
}

.s96-oll-48 {
    background-position: -576px -576px;
}

.s96-oll-49 {
    background-position: -672px 0;
}

.s96-oll-50 {
    background-position: -672px -96px;
}

.s96-oll-51 {
    background-position: -672px -192px;
}

.s96-oll-52 {
    background-position: -672px -288px;
}

.s96-oll-53 {
    background-position: -672px -384px;
}

.s96-oll-54 {
    background-position: -672px -480px;
}

.s96-oll-55 {
    background-position: -672px -576px;
}

.s96-oll-56 {
    background-position: 0 -672px;
}

.s96-oll-57 {
    background-position: -96px -672px;
}

.s128-oll {
    background-image: url(../img/s128-oll-05.png);
    background-repeat: no-repeat;
    display: block;
    width: 128px;
    height: 128px;
}

.s128-oll-01 {
    background-position: -128px 0;
}

.s128-oll-02 {
    background-position: -256px 0;
}

.s128-oll-03 {
    background-position: -384px 0;
}

.s128-oll-04 {
    background-position: -512px 0;
}

.s128-oll-05 {
    background-position: -640px 0;
}

.s128-oll-06 {
    background-position: -768px 0;
}

.s128-oll-07 {
    background-position: 0 -128px;
}

.s128-oll-08 {
    background-position: -128px -128px;
}

.s128-oll-09 {
    background-position: -256px -128px;
}

.s128-oll-10 {
    background-position: -384px -128px;
}

.s128-oll-11 {
    background-position: -512px -128px;
}

.s128-oll-12 {
    background-position: -640px -128px;
}

.s128-oll-13 {
    background-position: -768px -128px;
}

.s128-oll-14 {
    background-position: 0 -256px;
}

.s128-oll-15 {
    background-position: -128px -256px;
}

.s128-oll-16 {
    background-position: -256px -256px;
}

.s128-oll-17 {
    background-position: -384px -256px;
}

.s128-oll-18 {
    background-position: -512px -256px;
}

.s128-oll-19 {
    background-position: -640px -256px;
}

.s128-oll-20 {
    background-position: -768px -256px;
}

.s128-oll-21 {
    background-position: 0 -384px;
}

.s128-oll-22 {
    background-position: -128px -384px;
}

.s128-oll-23 {
    background-position: -256px -384px;
}

.s128-oll-24 {
    background-position: -384px -384px;
}

.s128-oll-25 {
    background-position: -512px -384px;
}

.s128-oll-26 {
    background-position: -640px -384px;
}

.s128-oll-27 {
    background-position: -768px -384px;
}

.s128-oll-28 {
    background-position: 0 -512px;
}

.s128-oll-29 {
    background-position: -128px -512px;
}

.s128-oll-30 {
    background-position: -256px -512px;
}

.s128-oll-31 {
    background-position: -384px -512px;
}

.s128-oll-32 {
    background-position: -512px -512px;
}

.s128-oll-33 {
    background-position: -640px -512px;
}

.s128-oll-34 {
    background-position: -768px -512px;
}

.s128-oll-35 {
    background-position: 0 -640px;
}

.s128-oll-36 {
    background-position: -128px -640px;
}

.s128-oll-37 {
    background-position: -256px -640px;
}

.s128-oll-38 {
    background-position: -384px -640px;
}

.s128-oll-39 {
    background-position: -512px -640px;
}

.s128-oll-40 {
    background-position: -640px -640px;
}

.s128-oll-41 {
    background-position: -768px -640px;
}

.s128-oll-42 {
    background-position: 0 -768px;
}

.s128-oll-43 {
    background-position: -128px -768px;
}

.s128-oll-44 {
    background-position: -256px -768px;
}

.s128-oll-45 {
    background-position: -384px -768px;
}

.s128-oll-46 {
    background-position: -512px -768px;
}

.s128-oll-47 {
    background-position: -640px -768px;
}

.s128-oll-48 {
    background-position: -768px -768px;
}

.s128-oll-49 {
    background-position: -896px 0;
}

.s128-oll-50 {
    background-position: -896px -128px;
}

.s128-oll-51 {
    background-position: -896px -256px;
}

.s128-oll-52 {
    background-position: -896px -384px;
}

.s128-oll-53 {
    background-position: -896px -512px;
}

.s128-oll-54 {
    background-position: -896px -640px;
}

.s128-oll-55 {
    background-position: -896px -768px;
}

.s128-oll-56 {
    background-position: 0 -896px;
}

.s128-oll-57 {
    background-position: -128px -896px;
}
