.s64-ppll {
    background-image: url(../img/ppll-s64-01.png);
    background-repeat: no-repeat;
    display: block;
    width: 64px;
    height: 64px;
}

.s64-ppll-ac {
    background-position: 0 0;
}

.s64-ppll-ad {
    background-position: -64px 0;
}

.s64-ppll-adj {
    background-position: -128px 0;
}

.s64-ppll-ea {
    background-position: -192px 0;
}

.s64-ppll-eb {
    background-position: 0 -64px;
}

.s64-ppll-jc {
    background-position: -64px -64px;
}

.s64-ppll-jd {
    background-position: -128px -64px;
}

.s64-ppll-je {
    background-position: -192px -64px;
}

.s64-ppll-jf {
    background-position: 0 -128px;
}

.s64-ppll-n {
    background-position: -64px -128px;
}

.s64-ppll-oa {
    background-position: -128px -128px;
}

.s64-ppll-ob {
    background-position: -192px -128px;
}

.s64-ppll-opp {
    background-position: 0 -192px;
}

.s64-ppll-rc {
    background-position: -64px -192px;
}

.s64-ppll-rd {
    background-position: -128px -192px;
}

.s64-ppll-re {
    background-position: -192px -192px;
}

.s64-ppll-rf {
    background-position: -256px 0;
}

.s64-ppll-ta {
    background-position: -256px -64px;
}

.s64-ppll-tb {
    background-position: -256px -128px;
}

.s64-ppll-w {
    background-position: -256px -192px;
}

.s64-ppll-ya {
    background-position: 0 -256px;
}

.s64-ppll-yb {
    background-position: -64px -256px;
}

.s96-ppll {
    background-image: url(../img/ppll-s96-01.png);
    background-repeat: no-repeat;
    display: block;
    width: 96px;
    height: 96px;
}

.s96-ppll-ac {
    background-position: 0 0;
}

.s96-ppll-ad {
    background-position: -96px 0;
}

.s96-ppll-adj {
    background-position: -192px 0;
}

.s96-ppll-ea {
    background-position: -288px 0;
}

.s96-ppll-eb {
    background-position: 0 -96px;
}

.s96-ppll-jc {
    background-position: -96px -96px;
}

.s96-ppll-jd {
    background-position: -192px -96px;
}

.s96-ppll-je {
    background-position: -288px -96px;
}

.s96-ppll-jf {
    background-position: 0 -192px;
}

.s96-ppll-n {
    background-position: -96px -192px;
}

.s96-ppll-oa {
    background-position: -192px -192px;
}

.s96-ppll-ob {
    background-position: -288px -192px;
}

.s96-ppll-opp {
    background-position: 0 -288px;
}

.s96-ppll-rc {
    background-position: -96px -288px;
}

.s96-ppll-rd {
    background-position: -192px -288px;
}

.s96-ppll-re {
    background-position: -288px -288px;
}

.s96-ppll-rf {
    background-position: -384px 0;
}

.s96-ppll-ta {
    background-position: -384px -96px;
}

.s96-ppll-tb {
    background-position: -384px -192px;
}

.s96-ppll-w {
    background-position: -384px -288px;
}

.s96-ppll-ya {
    background-position: 0 -384px;
}

.s96-ppll-yb {
    background-position: -96px -384px;
    background-position: -96px -384px;
}

.s128-ppll {
    background-image: url(../img/ppll-s128-01.png);
    background-repeat: no-repeat;
    display: block;
    width: 128px;
    height: 128px;
}

.s128-ppll-ac {
    background-position: 0 0;
}

.s128-ppll-ad {
    background-position: -128px 0;
}

.s128-ppll-adj {
    background-position: -256px 0;
}

.s128-ppll-ea {
    background-position: -384px 0;
}

.s128-ppll-eb {
    background-position: 0 -128px;
}

.s128-ppll-jc {
    background-position: -128px -128px;
}

.s128-ppll-jd {
    background-position: -256px -128px;
}

.s128-ppll-je {
    background-position: -384px -128px;
}

.s128-ppll-jf {
    background-position: 0 -256px;
}

.s128-ppll-n {
    background-position: -128px -256px;
}

.s128-ppll-oa {
    background-position: -256px -256px;
}

.s128-ppll-ob {
    background-position: -384px -256px;
}

.s128-ppll-opp {
    background-position: 0 -384px;
}

.s128-ppll-rc {
    background-position: -128px -384px;
}

.s128-ppll-rd {
    background-position: -256px -384px;
}

.s128-ppll-re {
    background-position: -384px -384px;
}

.s128-ppll-rf {
    background-position: -512px 0;
}

.s128-ppll-ta {
    background-position: -512px -128px;
}

.s128-ppll-tb {
    background-position: -512px -256px;
}

.s128-ppll-w {
    background-position: -512px -384px;
}

.s128-ppll-ya {
    background-position: 0 -512px;
}

.s128-ppll-yb {
    background-position: -128px -512px;
}
